* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: block;
}

/* HEADER */
body {
    background-color: lightblue;
}

header {
    background-color: lightcyan;
    color: blueviolet;
    font-size: 20px;
    height: 5vh;
    width: 100vw;
    display: inline-flex;
    justify-content: space-around;
    align-items: baseline;
}

#high-score {
    display: inline;
    margin-top: .5vh;
    height: 4vh;
}

#timer {
    display: inline;
    margin-top: .5vh;
    height: 4vh;
}

main {
    display: flex;
}

.quiz-box {
    display: block;
    width: 80vw;
    height: 65vh;
    margin-left: 10vw;
    margin-top: 15vh;
    background-color: lightcyan;
    border-radius: 8px;
    box-shadow: 4px 4px 10px steelblue;
    position: relative;
}

#question {
    margin: 15px;
    font-size: 2em;
    color: midnightblue;
}

.option-box {
    display: block;
    flex-direction: column;
}

.option-box button {
    margin: 15px 15px 3px 15px;
    font-size: 1.5em;
    color: white;
    background-color: midnightblue;
    border-radius: 4px;
}

.option-box button:hover {
    color: white;
    background-color: blueviolet;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.skipBtn {
    margin: 20px, 30px, 10px 30px;
    padding: 8px;
    background-color: blueviolet;
    color: white;
    border-radius: 4px;
    align-self: center;
}

/* ??? Why isn't margin working on the button? I need some padding at top specifically, btwn button and options. */
#skipQuestBtn {
    margin: 20px, 30px, 10px 30px;

}

.resultsPopup {
    align-self: center;
    text-align: center;
    color: blueviolet;
    font-size: x-large;
    font-style: italic;
}





/* ADD BREAKPOINTS */