* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */
body {
    background-color: lightblue;
}

header {
    background-color: lightcyan;
    color: blueviolet;
    font-size: 20px;
    height: 5vh;
    width: 100vw;
    display: inline-flex;
    justify-content: space-around;
    align-items: baseline;
}

#high-score {
    display: inline;
    margin-top: .5vh;
    height: 4vh;
}

#timer {
    display: inline;
    margin-top: .5vh;
    height: 4vh;
}

main {
    display: flex;
}

.quiz-box {
    display: block;
    width: 80vw;
    height: 65vh;
    margin-left: 10vw;
    margin-top: 15vh;
    background-color: lightcyan;
    border-radius: 8px;
    box-shadow: 4px 4px 10px steelblue;
    position: relative;
}

.hidden {
    display: none;
}

#question,
.introTitle {
    margin: 15px 15px 0 15px;
    font-size: 2em;
    color: midnightblue;
}

.questionCode-box {
    margin: 0 35px 15px 35px;
    padding: 15px;
    font-size: 1em;
    color: midnightblue;
    background-color: darkgrey;

}

.choice-box {
    display: block;
    flex-direction: column;
}

.choice-box button {
    margin: 15px 15px 3px 15px;
    font-size: 1.5em;
    color: white;
    background-color: midnightblue;
    border-radius: 4px;
    display: block;
}

.choice-box button:hover {
    color: white;
    background-color: blueviolet;
}

#pop-up {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


#results {
    align-self: center;
    text-align: center;
    color: blueviolet;
    font-size: x-large;
    font-style: italic;
}


